.instagram-container {
    z-index: 9;
    cursor: pointer;
    position: relative;
    display: inline-block;

    aspect-ratio: 5/8;
    width: clamp(196px, 22.74vw, 393px);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.instagram-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
