@font-face {
    font-family: "FilsonPro";
    src: url("../../assets/fonts/FilsonProRegular.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

.project-page-container {
    background-color: #ffffff;
}

.body-container {
    display: flex;
    justify-content: center;
}

/* TÍTULO Y SUBTÍTULO: */

.title-section {
    display: block;
    align-items: center;
    justify-content: center;
}

.title-section h1 {
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(23px, 2.66vw, 46px);
    margin-top: clamp(19px, 2.19vw, 38px);
    margin-bottom: clamp(6px, 0.63vw, 11px);
}

.title-section h4 {
    color: #646464;
    font-weight: 350;
    text-align: center;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(12px, 1.38vw, 24px);
    margin-top: clamp(6px, 0.63vw, 11px);
    margin-bottom: clamp(19px, 2.19vw, 38px);
}

/* LISTA DE PROYECTOS: */

.projects-container {
    display: fit-content;
    align-items: center;
    justify-content: center;
}

.projects-container h4 {
    color: #646464;
    font-weight: 350;
    text-align: center;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(12px, 1.38vw, 24px);
    margin-top: clamp(6px, 0.63vw, 11px);
    margin-bottom: clamp(19px, 2.19vw, 38px);
}

/* BARRA DE BÚSQUEDA:  */

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects-search {
    color: #b9b9b9;
    font-weight: 350;
    font-family: "FilsonPro", sans-serif;

    border: none;
    background: #ffffff;
    border-radius: clamp(47px, 5.38vw, 93px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

    /* 1728 */

    width: clamp(538px, 62.26vw, 1076px);
    height: clamp(34px, 5.21vw, 68px);

    font-size: clamp(12px, 1.85vw, 24px);
    padding-left: clamp(20px, 2.31vw, 40px);

    margin-bottom: clamp(29px, 3.41vw, 59px);
}

.projects-search:focus {
    outline: none;
}

/* SECCIÓN DE FILTROS: */

.filters-container {
    display: block;
    height: fit-content;

    background: #ffffff;
    border-radius: 80px 0 0 80px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    /* 1728 */

    width: clamp(150px, 15.625vw, 300px);
    margin-left: clamp(58.5px, 6.09vw, 117px);
    padding: clamp(9px, 0.9375vw, 18px) clamp(19px, 1.979vw, 38px);
}

@media (max-width: 500px) {
    .filters-container {
        display: none;
    }
}

.filters-container h3 {
    color: #ff7700;
    font-weight: 700;
    text-align: center;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(16px, 1.67vw, 32px);
}

.filters-container h4 {
    color: #007095;
    font-weight: 700;
    text-align: right;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(10px, 1.0416vw, 20px);
}

.filters-container h5 {
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    text-align: right;
    font-family: "FilsonPro", sans-serif;

    /* 1728 */

    font-size: clamp(10px, 1.0416vw, 20px);
    transition:
        color 0.2s ease,
        transform 0.15s ease;
}

.filters-container h5:hover {
    transform: translateX(4px);
}

.filters-container h5.active {
    color: #ff7700;
    font-weight: 800;
}
