@font-face {
    font-family: "FilsonProBlack";
    src: url("../../assets/fonts/FilsonProBlack.otf") format("opentype");
}

@font-face {
    font-family: "FilsonPro";
    src: url("../../assets/fonts/FilsonProRegular.otf") format("opentype");
}

:root {
    --color-dark-orange: #ec6b34;
    --color-primary-blue: #007095;
    --border-thickness: clamp(5px, 0.57vw, 10px);
}

.carpetica {
    width: clamp(181px, 20.94vw, 362px);
    height: clamp(182px, 21.12vw, 365px);

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: clamp(40px, 4.62vw, 80px);

    padding: var(--border-thickness);
    background-color: var(--color-dark-orange);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carpetica:hover {
    transform: translateY(-8px);
}

.carpetica-top {
    overflow: hidden;
    width: clamp(165px, 19.15vw, 331px);
    height: clamp(166px, 19.21vw, 332px);
    border-radius: clamp(31px, 3.58vw, 62px);
}

.carpetica-top img {
    width: clamp(165px, 19.15vw, 331px);
    height: clamp(166px, 19.21vw, 332px);
}

.carpetica-label,
.carpetica-date {
    pointer-events: none;
}

.carpetica-label {
    left: 0;
    z-index: 2;
    position: absolute;
    display: inline-flex;
    
    color: #ffffff;
    font-weight: 400;
    font-size: clamp(10px, 1.15vw, 20px);
    background-color: var(--color-dark-orange);
    font-family: "FilsonPro", Helvetica, sans-serif;

    padding: clamp(8px, 0.92vw, 16px) clamp(11px, 1.27vw, 22px)
                clamp(8px, 0.92vw, 16px) clamp(9px, 1.04vw, 18px);
    border-radius: 0 clamp(25px, 2.89vw, 50px) clamp(25px, 2.89vw, 50px) 0;
}

.carpetica-date {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    width: clamp(173px, 20.08vw, 347px);
    height: clamp(82px, 9.54vw, 165px);

    color: #ffffff;
    background-color: var(--color-dark-orange);
    font-family: "FilsonPro", Helvetica, sans-serif;

    line-height: 1;
    gap: clamp(5px, 0.57vw, 10px);
    padding: clamp(13px, 1.5vw, 26px) clamp(20px, 2vw, 40px)
            clamp(31px, 3.58vw, 62px) clamp(12px, 1vw, 20px);

    border-radius: 0 clamp(20px, 2.31vw, 40px) clamp(40px, 4.62vw, 80px) clamp(40px, 4.62vw, 80px);

}

.dia {
    line-height: 1;
    font-weight: 900;
    font-size: clamp(20px, 2.31vw, 40px);
    font-family: "FilsonProBlack", Helvetica, sans-serif;
}

.mes {
    line-height: 1;
    text-transform: uppercase;
    transform: translateY(3px);
    font-size: clamp(12px, 1.38vw, 24px);
    font-family: "FilsonPro", Helvetica, sans-serif;
}