:root {
    --color-dark-orange: #ec6b34;
    --color-primary-blue: #007095;
    --border-thickness: 15px;
}

.carpetica {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1 / 0.85;
    background-color: var(--color-dark-orange);
    position: relative;
    border-radius: 45px;
    padding: var(--border-thickness);
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.carpetica-top {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
}

.carpetica-top img {
    width: 101%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carpetica-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: var(--color-dark-orange);
    border-top-right-radius: 40px;
    z-index: 1;
}

.carpetica-label {
    position: absolute;
    z-index: 2;
    bottom: 42%;
    left: 0;
    background-color: var(--color-dark-orange);
    color: white;
    font-family: "Filson Pro-Regular", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 18px;
    border-radius: 0 15px 15px 0;
    white-space: nowrap;
}

.carpetica-date {
    position: absolute;
    z-index: 2;
    bottom: 12%;
    left: 15px;
    color: white;
    line-height: 1;
}

.dia {
    font-family: "Filson Pro-Black", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 900;
}

.mes {
    font-family: "Filson Pro-Regular", Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 5px;
}
