@font-face {
    font-family: "FilsonPro";
    src: url("../../assets/fonts/FilsonProRegular.otf") format("opentype");
}

@font-face {
    font-family: "FilsonProMedium";
    src: url("../../assets/fonts/FilsonProMedium.otf") format("opentype");
}

@font-face {
    font-family: "Gerhaus";
    src: url("../../assets/fonts/Gerhaus-Regular.ttf") format("opentype");
}

:root {
    --color-text-gray: #646464;
    --color-primary-blue: #007095;
    --color-accent-orange: #ef6a35;
    --color-secondary-orange: #ff7700;
}

.inicio-container {
    box-sizing: border-box;
    background-color: #ffffff;
}

/* BANNER - ILUSTRACIONES COLLAB: */

.illustration-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

.illustration-section img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    position: absolute;
    animation: fadeBanner 10s infinite;
}

.illustration-section img:first-child {
    opacity: 1;
    position: relative;
    animation-delay: 0s;
}

.illustration-section img:last-child {
    top: -2.5px;
    animation-delay: 5s;
}

@keyframes fadeBanner {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*   INDICADORES DE SECCIONES:    */

.section-title {
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    
    font-family: "FilsonPro", Helvetica;
    font-size: clamp(13px, 2.66vw, 46px);
    background-color: var(--color-accent-orange);

    padding: clamp(5px, 0.57vw, 10px) clamp(43px, 4.97vw, 86px);
    border-radius: 0 clamp(20px, 2.31vw, 40px) clamp(20px, 2.31vw, 40px) 0;
}

/*    SEPARADOR DE BIENVENIDA:    */

.welcome-bar {
    width: 100%;
    height: clamp(53px, 6.13vw, 106px);

    display: flex;
    color: #ffffff;
    position: relative;
    font-family: "FilsonProMedium", Helvetica;
    background-color: var(--color-secondary-orange);

    align-items: center;
    justify-content: space-around;
    margin-top: calc(clamp(5px, 4.7vw, 80px) * -0.67);
}

.study-text {
    gap: 8px;
    display: flex;
    color: white;
    font-weight: 800;
    align-items: center;
    font-size: clamp(10px, 2.31vw, 40px);
}

.study-adorno {
    width: clamp(15px, 1.73vw, 30px);
    height: clamp(15px, 1.73vw, 30px);
}

.btn-welcome {
    border: none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;

    width: clamp(100px, 21.58vw, 373px);
    height: clamp(24px, 4.16vw, 72px);

    font-size: clamp(11px, 2.48vw, 43px);
    border-radius: clamp(91px, 10.53vw, 182px);
    padding: clamp(2.5px, 0.28vw, 5px) clamp(10px, 1.15vw, 20px);
}

/*         LINKS RÁPIDOS:         */

.quick-links {
    display: flex;
    position: relative;
    justify-content: center;

    gap: clamp(36px, 6.36vw, 110px);

            /* top, right, bottom, left */
    padding: 0 clamp(185px, 21.41vw, 370px) clamp(125px, 14.46vw, 250px)
            clamp(185px, 21.41vw, 370px);
}

@media (max-width: 710px) {
    .quick-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: clamp(10px, 5vw, 40px) clamp(15px, 4vw, 30px) clamp(10px, 5vw, 40px);
    }
}

.quick-item {
    display: flex;
    align-items: center;
    gap: clamp(4px, 0.46vw, 8px);
    margin-top: clamp(31px, 3.64vw, 63px);
}

.quick-adorno {
    width: clamp(10px, 2vw, 30px);
    height: clamp(10px, 2vw, 30px);
}

.quick-links a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    font-size: clamp(15px, 1.8vw, 32px);
    font-family: "FilsonProMedium", Helvetica;
    z-index: 1;
}

.quick-esquinero {
    position: absolute;

    width: clamp(96px, 11.11vw, 192px);
    height: clamp(144px, 16.66vw, 288px);
}

.left {
    left: 0;
}

.right {
    right: 0;
    transform: scaleX(-1);
}

/*           NOVEDADES:           */

.novedades-section {
    width: 100%;
    position: relative;
    padding-bottom: clamp(30px, 3.47vw, 60px);
}

.novedades-layout {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    gap: clamp(35px, 4.05vw, 70px);
    padding-left: clamp(10px, 1.15vw, 20px);
    padding-right: clamp(20px, 2.31vw, 40px);
}

/*           ENTERATE:            */

.enterate-static {
    position: relative;
    align-content: center;
}

.enterate-img {
    width: clamp(267px, 30.96vw, 535px);
    height: clamp(316px, 36.63vw, 633px);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enterate-img:hover {
    transform: translateY(-8px);
}

.enterate-text {
    width: 100%;
    font-weight: 400;
    text-align: center;
    position: absolute;

    color: var(--color-primary-blue);
    font-family: "Gerhaus", sans-serif;
    font-size: clamp(20px, 2.31vw, 40px);
}

/*           CARPETAS:            */

.carpetica-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: clamp(10px, 1.15vw, 20px);
}

/*           INSTAGRAM:            */

.instagram-section {
    max-width: 100%;
    overflow: hidden;
}

.instagram-section img {
    max-width: 100% !important;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instagram-section img:hover {
    transform: translateY(-8px);
}

.siguenos-text {
    text-align: center;
    color: var(--color-primary-blue);
    font-family: "Gerhaus", sans-serif;
    font-size: clamp(20px, 2.31vw, 40px);
}

/*           PROYECTOS:           */

.destacados-section {
    width: 100%;
    display: block;
    margin-top: clamp(30px, 3.47vw, 60px);
}

.destacados-copy {
    text-align: center;
    margin-bottom: clamp(30px, 3.47vw, 60px);
}

.destacados-copy h3 {
    color: #000000;
    font-weight: 700;
    font-family: "FilsonProMedium";
    font-size: clamp(24px, 2.77vw, 48px);
    margin-bottom: clamp(5px, 0.57vw, 10px);
}

.destacados-copy p {
    color: #646464;
    font-weight: 350;
    font-family: "FilsonPro";
    font-size: clamp(16px, 1.85vw, 32px);
}

.proyectos-grid {
    display: grid;
    gap: clamp(2px, 0.23vw, 4px);
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    justify-content: center;

    margin-left: clamp(64px, 9.25vw, 160px);
    margin-right: clamp(64px, 9.25vw, 160px);
}

.proyecto-card {
    overflow: hidden;
    aspect-ratio: 350 / 200;
    background-color: #cccccc;
    transition: transform 0.3s ease;
    border-radius: clamp(40px, 4.62vw, 80px);
}

.proyecto-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.proyecto-card:hover {
    transform: translateY(-6px);
}

.btn-ver-mas {
    color: #ffffff;
    display: block;

    margin: auto;
    width: clamp(100px, 11.57vw, 200px);
    padding: 0 clamp(17px, 2.02vw, 35px);
    border-radius: clamp(50px, 5.78vw, 100px);


    text-align: center;
    text-decoration: none;
    font-family: "FilsonPro";
    font-size: clamp(13px, 1.5vw, 26px);
    margin-top: clamp(35px, 4.05vw, 70px);
    background-color: var(--color-accent-orange);
}

.btn-ver-mas:hover {
    background: #d95c2b;
}
