@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

.project-container {
    display: flex;
    width: clamp(320px, 66.875vw, 1284px);
    height: clamp(180px, 17.18vw, 330px);
    margin-bottom: clamp(31px, 3.22vw, 62px);
    background: #ffffff;
    border-radius: 0 clamp(20px, 4.16vw, 80px) clamp(20px, 4.16vw, 80px) clamp(20px, 4.16vw, 80px);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
}

.project-container img {
    object-fit: cover;
    width: clamp(120px, 30.6vw, 588px);
    height: clamp(180px, 17.18vw, 330px);
    border-radius: 0 clamp(20px, 4.16vw, 80px) clamp(20px, 4.16vw, 80px) clamp(20px, 4.16vw, 80px);
}

.project-details {
    display: block;
    position: relative;
}

.project-content {
    display: flex;
    flex-direction: column;
    padding-top: clamp(15px, 1.82vw, 35px);
    padding-right: clamp(35px, 7.03vw, 135px);
    padding-left: clamp(15px, 1.82vw, 35px);
}

.project-title {
    color: #000;
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(20px, 2.08vw, 40px);
    font-style: normal;
    font-weight: 600;
}

.project-author {
    color: #036efc;
    font-weight: 600;
    font-style: italic;
    margin-bottom: clamp(5px, 0.52vw, 10px);
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(12px, 1.25vw, 24px);

    overflow-y: hidden;
    text-align: justify;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.project-desc {
    color: #000000;
    overflow-y: hidden;
    text-align: justify;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    font-size: clamp(13px, 1.45vw, 28px);
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
}

.project-button-more {
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    position: absolute;

    color: #fff;
    font-weight: 400;
    font-size: clamp(14px, 1.45vw, 28px);
    font-family: "filson-pro", sans-serif;

    width: clamp(167px, 13.9vw, 267px);
    height: clamp(20px, 4.16vw, 80px);

    background: #ef6a35;
    align-items: center;
    justify-content: center;
    gap: clamp(5px, 0.52vw, 10px);
    border-radius: clamp(20px, 4.16vw, 80px) 0 clamp(20px, 4.16vw, 80px) 0;
}
