@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.footer {
    display: flex;
    flex-direction: column;
    font-family: "Filson Pro-Book", Helvetica;
}

/* Adornos esquineros: */

.footer-esq {
    position: relative;
    height: clamp(145px, 15.052vw, 289px);
}

.esquinero {
    position: absolute;
    pointer-events: none;
    width: clamp(145px, 15.052vw, 289px);
}

.esquinero-left {
    left: 0;
}

.esquinero-right {
    right: 0;
    transform: scaleX(-1);
}

/* Cuerpo del pie de p치gina: */

.Justify {
    text-align: justify;
}

.footer-body {
    position: relative;
    background-color: #007095;
    padding: clamp(41px, 4.218vw, 81px);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-bottom: clamp(12.5px, 2.08vw, 40px);
}

/* Informaci칩n izquierda: */

.footer-info-left {
    width: clamp(193px, 20.10vw, 386px);
    height: clamp(58px, 6.19vw, 119px);

    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(8px, 0.83vw, 16px);
}

/* Logos institucionales: */

.footer-logo {
    display: flex;
    align-items: center;
}

#Universidad {
    width: clamp(112px, 11.61vw, 223px);
    height: clamp(53px, 5.46vw, 105px);
}

#Acreditacion {
    width: clamp(67px, 6.97vw, 134px);
    height: clamp(33px, 3.38vw, 65px);
}

#LogoDiseno {
    width: clamp(81px, 8.43vw, 162px);
    height: clamp(46px, 4.79vw, 92px);
}

/* Informaci칩n derecha: */

.footer-info-right {
    width: clamp(170.5px, 17.76vw, 341px);
    height: clamp(58px, 6.19vw, 119px);

    color: #ffffff;
    line-height: 0.7;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(8px, 0.83vw, 16px);
}

.footer-bottom {
    display: flex;
    color:#ffffff;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(8px, 1.041vw, 20px);
    padding-top: clamp(9px, 0.93vw, 18px);
}

.footer-links {
    gap: 20px;
    display: flex;
}

.footer-links span {
    cursor: pointer;
    font-weight: 300;
}

/* Para pantallas muy peque침as: */

@media (max-width: 714px) {
    .footer-top {
        justify-content: center;
    }

    .footer-info-left {
        display: none;
    }

    .footer-info-right {
        display: none;
    }
}