.HEADER {
    display: flex;
    align-items: center;
    justify-content: center;

    left: 50%;
    position: relative;
    transform: translateX(-50%);

    /* 1728 */

    width: clamp(440px, 76.38vw, 1320px);
    height: clamp(39px, 4.57vw, 79px);

    border-radius: 0 0 clamp(30px, 3.47vw, 60px) clamp(30px, 3.47vw, 60px);

    overflow: hidden;
    z-index: 100;
}

.HEADER--default {
    background-color: #036efc;
}

.HEADER--orange {
    background-color: #ec6b34;
}

.HEADER-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 clamp(48px, 5.55vw, 96px);

    overflow: hidden;
    gap: clamp(48px, 5.55vw, 96px);
}

@media (max-width: 710px) {
    .HEADER-nav {
        flex-wrap: wrap;
        gap: clamp(8px, 0.92vw, 16px);
    }

    .HEADER-item {
        font-size: 14px;
    }
}

.HEADER-icon-left,
.HEADER-icon-right {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
}

.HEADER-icon-left img,
.HEADER-icon-right img {
    height: auto;
    transition: all 0.25s ease;
    width: clamp(13px, 1.5vw, 26px);
}

.HEADER-icon-left:hover img,
.HEADER-icon-right:hover img {
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.9));
    transform: translateY(-2px) scale(1.05);
}

.HEADER-item {
    flex: 0 1 auto;
    color: #ffffff;

    line-height: 1.2;
    font-weight: 100;
    font-size: clamp(12px, 1.44vw, 25px);
    font-family: "Instrument Sans-SemiBold", Helvetica;

    transition: all 0.25s ease;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.HEADER-item:hover {
    color: #ffffff;
    transform: translateY(-2px);
    text-shadow: 0 0 6px rgba(255,255,255,0.9);
}