.HEADER {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: clamp(320px, 70vw, 1400px);
    height: clamp(40px, 4.1vw, 79px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #036efc;
    border-radius: 0 0 clamp(30px, 4vw, 60px) clamp(30px, 4vw, 60px);

    overflow: hidden;
    z-index: 100;
}

.HEADER-nav {
    width: 100%;
    max-width: 1400px;
    padding: 0 clamp(12px, 8vw, 96px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: clamp(16px, 4vw, 96px);
}

.HEADER-icon-left,
.HEADER-icon-right {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
}

.HEADER-icon-left img,
.HEADER-icon-right img {
    width: clamp(12px, 1.2vw, 26px);
    height: auto;
}

.HEADER-item {
    flex: 0 1 auto;

    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-size: clamp(10px, 1.3vw, 25px);
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;

    white-space: nowrap;
    cursor: pointer;
}
